[2017-11-06 19:06] vi opened #1 "`for(;;)` is not handled."
[code]

The diagram on the online demo fails to change unless I add loop condition.

[2017-11-06 20:15] Bogdan-Lyashenko commented on #1
Hey, thanks for the nice catch. Fixed and merged. :)
<img width="364" alt="screen shot 2017-11-06 at 21 06 06" src="https://user-images.githubusercontent.com/2098309/32461822-6c2ea518-c337-11e7-909d-36ef7070480d.png">

[2017-11-06 20:15] #1 closed

[2017-11-08 13:59] vi commented on #1
The first and the third argument of `for` are also not shown properly. Currently they are just as if they were the statements inside `for{}` block.

Example program:

[code]

I expect `q=0` to be before the loop and `continue` pointing at `q+=1` (which should be somewhere below) instead just at `for`.

[2017-11-08 17:00] Bogdan-Lyashenko commented on #1
Nice, agree. q = 0 definitely should not be on each iteration.

[2017-11-09 02:03] LucasBadico opened #3 "JSX recognition - is in the plans?"
![captura de tela 2017-11-08 as 23 57 10](https://user-images.githubusercontent.com/16516889/32584821-824634c8-c4e1-11e7-9e83-4c97561f01e0.png)
Hey guys, jsx is on the roadmap for the tool? If it is I want to make. Just made a visual studio extension with this, but for really be useful I need the jsx be parsed together with the js.

[2017-11-09 07:57] Bogdan-Lyashenko commented on #3
Hey! Yes, JSX in TODOs section, but not sure how soon that gonna happens. I appreciate if you can help with contributing, it’s not complicated and I can help/point you how to get started. AST parser I use here is supposed to work with JSX, so from our side we need:
- map it to FlowTree
- decide how it’s gonna look like and describe SVG for that

[2017-11-09 22:40] LucasBadico commented on #3
Nice I could do that. Let me finish the release version of the extension. Then I help you guys with that. Learning now how to ship the extension.

[2017-11-09 22:41] LucasBadico commented on #3
Also, add the visual code extensions on your list guys!

[2017-11-10 01:51] LucasBadico commented on #3
https://marketplace.visualstudio.com/items?itemName=lucasbadico.code-flowchart
Done!

[2017-11-10 06:06] Bogdan-Lyashenko commented on #3
That’s amazing! Great job.

[2017-11-10 06:10] Bogdan-Lyashenko commented on #3
You probably can create a pull request with change to Readme, add “Tools” section after “API and examples” and mention your extension there.

[2017-11-10 18:54] joelnet opened #4 "ES6 parsing issues"
These two code blocks should render the same tree

[code]
![image](https://user-images.githubusercontent.com/742630/32673780-319ab0ce-c605-11e7-9ee5-40bc88bde873.png)

[code]

![image](https://user-images.githubusercontent.com/742630/32673798-487a004c-c605-11e7-80e6-554c7c794ad5.png)

[2017-11-11 12:46] robertwhitebit opened #5 "If condition with assignment issue"
The output is wrong when using an assignment in the if condition.

![image](https://user-images.githubusercontent.com/11049034/32689428-a95f6066-c6e4-11e7-9710-5a7ccc98f4ec.png)

![image](https://user-images.githubusercontent.com/11049034/32689488-5578f8e8-c6e6-11e7-880f-336367845613.png)

Great project btw! :heart: it!

[2017-11-11 16:47] mitermayer opened #6 "Flow / jsx parsing support"
Thanks for creating this tool, pretty clever! Was wondering if there are plans to support jsx/flow ?

[2017-11-11 17:09] VsevolodTrofimov opened #7 "Mistake in example"
line 14 `Math.floor(maxIndex + maxIndex) / 2`
should be `Math.floor(maxIndex + maxIndex / 2)`

[2017-11-11 17:57] Bogdan-Lyashenko commented on #7
Thanks. Probably it should be Math.floor((maxIndex + maxIndex) / 2), fixed code sample

[2017-11-11 17:57] #7 closed

[2017-11-11 17:59] Bogdan-Lyashenko commented on #6
@mitermayer, thanks, yep, jsx/flow in TODOs, not sure how soon that's gonna be, so if you can help with contribution it would be awesome.

[2017-11-12 11:00] Bogdan-Lyashenko commented on #5
@robertwhitebit, thanks, good one. Fixed it,
if (x || (a = 1)) {
        y = 12;
}

<img width="298" alt="screen shot 2017-11-12 at 11 53 02" src="https://user-images.githubusercontent.com/2098309/32698168-ac570a00-c7a0-11e7-8548-d6c8fcbb82b4.png">

Added ignore for assignment expression when a parent is condition block (if you are interested).

<img width="847" alt="screen shot 2017-11-12 at 11 5

[2017-11-12 11:00] #5 closed

[2017-11-12 11:43] robertwhitebit commented on #5
Wow, that was fast, thanks! :smiley_cat:

[2017-11-12 11:45] Bogdan-Lyashenko commented on #5
np)

[2017-11-12 13:37] Bogdan-Lyashenko commented on #4
Hey, thanks, it's really good description, so was easy to figure out where wrong code logic.
Fixed:
const a = () => b();
const c = () => { d(); }

<img width="267" alt="screen shot 2017-11-12 at 13 03 47" src="https://user-images.githubusercontent.com/2098309/32699455-704dba48-c7b6-11e7-9a3d-3759464917ef.png">

Actually, babylon parser I use for AST building doesn't handle such lines as 'ReturnSta

[2017-11-12 13:37] #4 closed

[2017-11-12 14:50] azu opened #8 "Width problem of multibyte characters"
The width of multibyte characters text like emoji, Japanese, Chinese over the width of background shape.

![image](https://user-images.githubusercontent.com/19714/32700091-715f4b2a-c803-11e7-86d3-d400f84340a9.png)

Reproduce code:

[code]

[2017-11-15 15:31] molenzwiebel opened #11 "ES6 Destructuring Broken"
As of the current version, array destructuring seems to be broken in some cases.

Works fine:
[code]

This renders as
![schermafbeelding 2017-11-15 om 16 30 29](https://user-images.githubusercontent.com/3594254/32844291-52064398-ca22-11e7-9dbb-d571aca0313d.png)

**However**, changing it to the following breaks it:
[code]

As you can see, it now renders the lefthand as `undefined`:
![schermafbeeldi

[2017-11-15 19:42] Bogdan-Lyashenko commented on #11
Hey @molenzwiebel, thanks, nice catch. I totally missed ArrayPattern token, added it now 😸

Fixed, it's gonna look like:
![image](https://user-images.githubusercontent.com/2098309/32856235-7d4aabda-ca44-11e7-817f-8c35c4429d85.png)

similar to ObjectPattern which is done in the same way. Closing issue.

[2017-11-15 19:42] #11 closed

[2017-11-15 19:44] Bogdan-Lyashenko commented on #8
@azu , thanks. Well, this one looks pretty tricky. Need to think how to calculate symbol width.. now it goes the same for each symbol, what is not the best solution for the case above.

[2017-11-18 13:21] azu commented on #8
Maybe, [string-width](https://github.com/sindresorhus/string-width "string-width") or [wcwidth](https://github.com/timoxley/wcwidth "wcwidth") is helpful.
These provide visual width of string.

[2017-11-20 15:18] Jackbennett opened #13 "if condition without code block braces"
Seems to omit only when using an assignment. Related to #5 ?
# Error:
![image](https://user-images.githubusercontent.com/791134/33025128-f9f7cfaa-ce04-11e7-8b86-8d333501672e.png)

# Expect:
![image](https://user-images.githubusercontent.com/791134/33025172-212ab88a-ce05-11e7-86c2-0b86d3a46f13.png)

[2017-11-20 19:16] Bogdan-Lyashenko commented on #13
@Jackbennett , thanks, you are right, fix #5 was too rough)

Pused the fix, added more precise condition, covers nicely the code below
[code]
![image](https://user-images.githubusercontent.com/2098309/33036640-4d86fd74-ce2f-11e7-8bed-4d3aa8cd3099.png)

[2017-11-22 14:04] j2l opened #14 "CLI ETA?"
Hey,

Thanks for this one!
I'd like to test on a React Native using CLI.
Is there an ETA?
Pasting in a code editor didn't work :(

[2017-11-22 15:27] Bogdan-Lyashenko commented on #14
@j2l , hi, thanks.
Can you please show which code doesn't work? Or what error are you getting in dev-tools. Thanks.

[2017-11-22 15:36] j2l commented on #14
Thanks for replying quickly!
First I tried to paste some react native code in a online editor (from Under the hood ReactJS) and svg wasn't produced, no error seen.

Then I tried CLI: npm i -g js2flowchart installed it but jsflowchart is a unknown command.

[2017-11-26 10:46] #13 closed

[2017-11-26 11:01] Bogdan-Lyashenko commented on #8
Hey @azu , thanks, added string-width, looks better now 👍

[2017-11-26 11:01] #8 closed

[2017-11-26 20:44] Os3r3um opened #15 "js2flowchart CLI doesn't work"
Hi,

First, thank you for your work!

Secondly, I got a try and I do have some issue with making it running.

This is how I test it.

- Got an Ubuntu 16.04 LTS.

- Installed yarn as this resource describes:

[(https://stackoverflow.com/questions/42606941/install-yarn-ubuntu-16-04-linux-mint-18-1) ]

- Got this JS file, masonry.min.js, as a test bed. [https://masonry.desandro.com/]

This is the err

[2017-11-26 21:09] Os3r3um commented on #15
Right. Thank you. Will have the nodejs updated to the latest and have you updated. will close the issue now and reopen it if that would be necessary.

Thanks!

[2017-11-26 21:09] #15 closed

[2017-11-27 07:38] Bogdan-Lyashenko commented on #14
Hey, it wasn’t implemented yet, that’s why it didn’t work like global install. I pushed a CLI feature yesterday, please update js2flowchart from npm and try again. Thanks. Let me know if still have issues.

[2017-11-27 20:57] j2l commented on #14
Cool!

But it doesn't like some react native:
[code]

[2017-11-28 16:39] Bogdan-Lyashenko commented on #14
@j2l, there is a code
[code]
inside of class definition. It's not like es6 way of doing that and I use es6-only parser which doesn't like it  (it's not valid actually from that point of view), so it breaks there. So if you remove that 3 lines and try without it, you'll see it works fine.

[2017-11-29 12:15] j2l commented on #14
Indeed :)
Fixed for me.
Cheers!

[2017-11-29 12:15] #14 closed

[2017-11-29 13:35] j2l opened #16 "How to change 50 characters limit?"
I tried changing `MAX_NAME_STR_LENGTH = 50` to grow boxes but it's not this one :)

[2017-11-29 13:38] j2l opened #17 "missing code at the end"
[code]
throws something like:

![image](https://user-images.githubusercontent.com/65325/33377724-c5e62404-d512-11e7-9372-beaec5c94f86.png)
without error.

I tested it with online editor and got the same behavior.

[2017-11-29 15:21] Bogdan-Lyashenko commented on #17
@j2l, it's not missed, it's hidden because of a long string. And passed objects are parsed specially, that's why you can see ```{*} -> client: client```. If you try it in a browser and hover it with a mouse you will see the title with complete code.
![image](https://user-images.githubusercontent.com/2098309/33382506-38e7c044-d521-11e7-8b6c-b0deca64f474.png)

[2017-11-29 15:28] Bogdan-Lyashenko commented on #16
Hey @j2l , it's not configurable currently, I mean, it doesn't have public API for that. But it's easy to add. Would you like to contribute that? Or I can add it later. Thanks.

[2017-11-29 16:05] j2l commented on #17
Yeah, I expected to see it visually.
Thanks for the explanation. You're patient :)

[2017-11-29 16:05] #17 closed

[2017-11-29 19:26] Bogdan-Lyashenko commented on #17
No worries, happy to help.

[2017-12-04 00:30] almereyda opened #18 "Breaks if trying to render a file in a subdirectory."
For sanity, I tried to keep the custom js2flowchart subfolder, which is a little a pain already, concise by rendering from the root of my project:

[code]

Apparently this is just not possible, as the script seems to reuse the JS file's path completely for the SVG, including path fragments and not relying on `mkdir -p`-like behaviour.

[2017-12-13 12:15] R42O opened #19 "For in Failure"
`function test () {
  let demo = {'A': 1, 'B': 2}
  for (let key in demo) {
  }
}`

The diagram on the online demo fails to change unless change condition declaration:

`function test2 () {
  let demo = {'A': 1, 'B': 2}
  let key
  for (key in demo) {
  }
}`

[2017-12-14 19:20] Bogdan-Lyashenko commented on #19
@R42O , thanks for the feedback.
Indeed, it was a bug with ```for-in``` loop, and I just pushed the fix for that. But, your snippets above not completely valid (Babel AST builder I use fails there).
Please have a look below: I've added semicolons to make it work.

```function test () { let demo = {'A': 1, 'B': 2}; for (let key in demo) { } }```
and second
```function test2 () { let demo = {'A': 1,

[2017-12-14 22:11] R42O commented on #19
Yup sorry idk why code tag didn't respect multiple lines.

And thanks, tomorrow I test it.

[2017-12-18 07:37] R42O commented on #19
Okey, its working.

Thanks @Bogdan-Lyashenko

[2017-12-18 07:37] #19 closed

[2017-12-18 19:36] Bogdan-Lyashenko commented on #18
Hi @almereyda, thanks for a good finding. Indeed, I don't like that extra dir as well now 😺 . I've removed it and actually it fixes the issue with subdirectory as well. Pushed the fix, closing the issue.

[2017-12-18 19:36] #18 closed

[2017-12-19 01:46] almereyda commented on #18
Many thanks!

On 18 December 2017 at 20:36, Bohdan Liashenko <notifications@github.com>
wrote:

[2017-12-20 23:44] Berkmann18 opened #20 "Project support"
I've seen that the multi-file support was on the TODO list but as that could mean supporting * ops (e.g: *.js) as well as projects, I was wondering which one it was and if it was the latter, then my question would be:
Will it know about the data-structures that a module (e.g: main.js) uses from another one (regardless of whether it's NodeJS/ES6 modules?
Example in NodeJS (the same could be said fo

[2017-12-21 06:57] Bogdan-Lyashenko commented on #20
Hey, thanks for the interest.) well, original idea was to use webpack dependencies tree builder for that, I just can’t imagine another better way of handling modules dependencies, so, the short answer is - webpack will manage that. Nice to hear you would like to contribute, it would be really great, thanks. Let me know if you need some guidance where to start.

[2017-12-21 19:34] Berkmann18 commented on #20
So would that be basically using webpack without requiring the targeted projects to use webpack?
Sure, will do if I need :).

[2017-12-22 00:51] Berkmann18 opened #21 "Unresolved theme"
# What happened
After modifying index.cli.js (to add the features the non-CLI part has) and adding prettier as a *dev* dependency as this project would need to explicitly list what it needs for the development and I didn't had prettier before running `npm run pretty` (to prettify index.cli.js which wasn't included in the list of scripts to prettify (I assume it's intentional?).

Then when I tried

[2017-12-22 00:52] Berkmann18 commented on #21
Fixed in [3c56797](https://github.com/Berkmann18/js-code-to-svg-flowchart/commit/3c567978ced4bfb21b5a4dd1d714056bba4d69e1)

[2017-12-22 00:53] Berkmann18 commented on #21
@Bogdan-Lyashenko Can I submit a PR with the changes or do you need time to check them first?

[2017-12-22 12:04] Bogdan-Lyashenko commented on #20
Yes, exactly.)

[2017-12-22 15:54] Berkmann18 commented on #20
Cool :).

[2017-12-22 15:54] #20 closed

[2017-12-24 21:09] Berkmann18 commented on #21
I've managed to get a working Abstraction feature as well as making a few other improvements in the README and such, so I'll submit a PR with all of that.

[2017-12-24 21:09] #21 closed

[2017-12-25 10:57] Bogdan-Lyashenko commented on #21
Nice, thx)

[2017-12-27 15:42] fabian20ro opened #23 "Small issues with the sample (binary search)"
First issue is a typo of the algorithm. The line
`currentIndex = Math.floor((**maxIndex** + maxIndex) / 2);`
should be
`currentIndex = Math.floor((minIndex + maxIndex) / 2);`

Second issue is that the arrow that returns into the while comes from the true branch of the last if statement instead of coming from both branches. It's an obvious mistake for an experienced developer, but it is weird for s

[2017-12-27 19:55] #6 closed

[2017-12-27 20:04] Bogdan-Lyashenko commented on #3
@LucasBadico , added it by myself, thanks for good tool 👍

[2017-12-27 20:04] #3 closed

[2018-02-01 10:10] RiccardoGrigoletto opened #24 "Nested if-statement problem"
![capture](https://user-images.githubusercontent.com/18590116/35672264-4488fb12-073e-11e8-964f-0002045d6a87.PNG)

[2018-02-01 10:15] Bogdan-Lyashenko commented on #24
Hi, nice catch! Can you pleae provide which caused that? So it will be able to debug it through.

[2018-02-01 10:15] Bogdan-Lyashenko commented on #24
Provide code :)

[2018-02-01 10:27] RiccardoGrigoletto commented on #24
Hello bodgan .

The code is:
        if ( $(document).width() >= 992) {
            type = 'desktop';
        }
        else if ( $(document).width() >= 768) {
            type = 'tablet';
        }
        else {
            type = 'mobile';
        }

Furthermore, I noticed that there are green boxes with "$(document)" as content.

[2018-02-01 15:42] Bogdan-Lyashenko commented on #24
@RiccardoGrigoletto , thanks, I'll have a look. But looks like it's an issue with ```$(document).width()```
so actually methodCall().anotherMethodCall() structure fails, if you write your code in a way as below, it works fine
![image](https://user-images.githubusercontent.com/2098309/35687343-c3766790-076e-11e8-9350-d77d7ee5ac84.png)

Actually, caching jQuery object to variable instead of creating

[2018-02-01 15:54] RiccardoGrigoletto commented on #24
Here we are 👍  thank you :)

[2018-02-17 06:05] dbucci24 opened #25 "Spanish Translation"
Hello! I would like to translate the project into Spanish! is it already translated?

[2018-02-17 07:12] Bogdan-Lyashenko commented on #25
Hello. Sounds awesome! No, it’s only in English now, feel free to go ahead :) thx.

[2018-02-17 07:15] dbucci24 commented on #25
great! can you tell me what folders or files I could translate, all the files are code or are there some with documentation to translate?

[2018-02-17 07:24] Bogdan-Lyashenko commented on #25
All documentation is in Readme file, so only it can be translated. Would be awesome it you can add “Languages” section in the current Readme, create folder “languages” (on the root level) and link Spanish one)

[2018-02-17 07:29] dbucci24 commented on #25
I will do it! Thank you!

[2018-02-20 15:23] abraham63 commented on #25
I will do it for french when I have time :)

[2018-02-20 18:15] Bogdan-Lyashenko commented on #25
@abraham63 sounds good, je vous remercie 😸

[2018-02-22 11:26] Berkmann18 commented on #25
@abraham63 If you need a hand for the French translation, give me a shout :).

[2018-05-29 01:06] tsiq-swyx commented on #3
hi i am trying to use this.. i have the extension installed, how do i activate it on my codebase?

[2018-05-29 05:35] Bogdan-Lyashenko commented on #3
@tsiq-swyx, just call context menu (right mouse click in source code file) and you should be able to see extra menu item “js to flowchart” there, select it and it should work.

[2018-05-29 14:04] tsiq-swyx commented on #3
ah ok. i feel like that should be in the readme lol

On Tue, May 29, 2018 at 1:35 AM Bohdan Liashenko <notifications@github.com>
wrote:

[2018-07-23 15:45] Berkmann18 opened #27 "Prototype pollution"
After running an audit on a package (`HashMyJS`), NPM flagged 4 vulnerabilities of the same type all caused by `lodash`, here's the output:

[code]
I flagged this issue at babel (cf. [here](https://github.com/babel/babel/issues/8368)).

[2018-07-25 03:36] Alansad opened #28 "series characteristics"
Whether it is feasible to generate visual graphs based on time series characteristics

[2018-07-25 07:09] Bogdan-Lyashenko commented on #28
@Alansad hi. What exactly you mean by that? Thanks.

[2018-07-27 12:07] xmoonlight opened #29 "Chain methods with point"
[Screenshot](https://pasteboard.co/HwogX92.png)
[code]
Why 3 lines in SVG?
2 (single line) or 6 (with hierarchy from object) was expected...

[2018-09-19 09:25] yanhaijing opened #30 "es8 async/await bug"
es5 code is work

![image](https://user-images.githubusercontent.com/3192087/45744348-edddfa80-bc30-11e8-8c7b-219973f35eed.png)

es6 code don't work

![image](https://user-images.githubusercontent.com/3192087/45744380-fe8e7080-bc30-11e8-8a65-ead44b7b1836.png)

[2018-09-19 11:05] Bogdan-Lyashenko commented on #30
@yanhaijing hey. Thanks for feedback. Not sure what is logic behind that code, but valid code will be
[code]

[2018-09-19 11:14] yanhaijing commented on #30
but I want use the tool to process my work code, my work code is written by es6, o(╥﹏╥)o

[2018-09-19 11:18] Bogdan-Lyashenko commented on #30
@yanhaijing that's fine, it does support es6. You can check examples https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart/tree/master/docs/examples (code-sample.js), each of them written in es6.

[2018-09-19 11:29] yanhaijing commented on #30
https://bogdan-lyashenko.github.io/js-code-to-svg-flowchart/docs/live-editor/index.html

↑this url enter code

[code]

[2018-09-19 11:41] Bogdan-Lyashenko commented on #30
ah, I see, yes, it's not supported, sorry for that. `async-await` are es7 features, not es6 😛 I need to update babylon AST parser to support that.

[2018-09-19 12:18] yanhaijing commented on #30
Thank you for your work. Come on

[2018-10-10 08:05] Bogdan-Lyashenko commented on #27
@Berkmann18 updated dependencies, thx.

[2018-10-10 08:05] #27 closed

[2018-10-16 10:58] Berkmann18 opened #31 "AST error on a file"
I'm working on a [project](https://github.com/Berkmann18/hashmyjs/tree/dev) and when I'm trying to generate the flowchart for all files, everything but [one](https://github.com/Berkmann18/hashmyjs/blob/optimise-reader/src/hashmyjs.js) goes well.
I haven't properly dug into the code as I'm really busy at the moment but thought it would be better to have this issue known.

[code]

[2018-10-17 11:14] Bogdan-Lyashenko commented on #31
Hm..
[code]
this code seems to fail.. has not sense to me, I can have a look later.

[2018-10-23 09:03] Berkmann18 commented on #28
@Alansad Could you expand on that?

[2018-10-23 09:06] Berkmann18 commented on #25
@abraham63 Have you done the French one?

[2018-10-23 10:48] Berkmann18 opened #32 "Webpack build/dev errors"
Not sure if it's to do with the deprecation that webpack had (which changes how build/dev processes work)  or to do with babel (which if I recall correctly recommend using the `babel-plugin-env` instead of `babel-plugin-es2015` since Babel v7).
I'm trying to run `npm run build` and `npm run dev` which respectively outputs:
[code]
[code]

[2018-10-23 11:43] Berkmann18 commented on #32
After updating some dependencies, I now get this for `npm run build`:
[code]
Which makes me think that `index.js` should be changed accordingly.

Here's what `npm run dev` gives:
[code]

[2018-10-29 22:11] xiaodeaux opened #33 "TypeScript support"
Just adding an issue to keep track of any progress towards supporting TypeScript. <3

[2018-11-27 12:11] wtho commented on #23
**First issue is here**
https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart/blob/685509f11e4a736ae31cb6506d92ab13207b09a8/docs/live-editor/index.html#L86
Definitely looks like a typo.

**Second Issue**

@fabian20ro Do you mean this Less-Equal comparator?
https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart/blob/685509f11e4a736ae31cb6506d92ab13207b09a8/docs/live-editor/index.html#L

[2018-11-27 12:20] Bogdan-Lyashenko commented on #23
@wtho hehe, funny stuff ;) yeah, `minIndex + maxIndex` obviously

[2018-11-27 12:22] wtho commented on #33
Yeah, that would be great!

@Bogdan-Lyashenko maybe you can give a quick roadmap what has to be done to plugin the TS AST-Parser?

It might be quite some work to implement it, but if you can outline out the starting points, someone could begin to do it. Is there more to do to support TS than plugging in the Parser? Maybe you can comment if the rendering has to be modified as well.

TS mostly adds

[2018-11-27 15:09] Bogdan-Lyashenko commented on #33
@wtho I've updated babel to 7nth version recently to support TS. Now if you try something like `const a: string = 'abc' ` it should work (parser will not fail). I think only 'converter' functions will be affected, meaning, what exactly should be displayed inside blocks in flowchart. It's here https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart/tree/master/src/builder/converters

[2018-11-29 09:47] fenghuizhang opened #34 "what's the time to support React ?"

[2018-12-13 16:57] ugrg opened #35 "isTSTypeAssertion is not a function"
if code is
[code]
then
Error at buildFlowTreeFromAstt.isTSTypeAssertion is not a function

[2018-12-13 17:01] Berkmann18 commented on #35
Hmm! That's similar to #31 .

[2018-12-13 17:10] ugrg commented on #31
if code is
[code]
or
[code]
Will also appear

[2018-12-13 17:12] Berkmann18 commented on #31
@Bogdan-Lyashenko Have you had a chance to look at the minimal example?

[2019-03-06 14:25] nrh00 opened #36 "Switch in if/else problem"
Found this funny using one of your examples...

Duplicated the switch statement, one in the if the other in the else. The IF switch renders fine the ELSE renders wrong.

![screenshot 2019-03-06 at 14 24 33](https://user-images.githubusercontent.com/48287332/53888116-9800e180-401b-11e9-9d8d-efff4216f733.png)

const code = `
    function switchSampleFromMDN() {
        const foo = 0;
        const b

[2019-05-31 08:26] soloproc opened #37 "Is it possible to make it as a vscode plugin?"

[2019-06-01 20:51] Bogdan-Lyashenko commented on #37
There is a plugin for VS already https://marketplace.visualstudio.com/items?itemName=lucasbadico.code-flowchart :)

[2019-06-24 07:22] neutraali commented on #6
Note that **Flow** -parsing still fails, for example:

`_image: ?React.Node;` triggers `Error at parseCodeToAST: Unexpected token`.

[2019-06-29 17:55] mikeBehar commented on #37
After installing the VS code plugin, I then select "Show JS Flowchart" from the context menu.  Nothing happens.  What am I missing?

Do I need to add script in html for js2flowchart.js.   I am not using node.js  I use caddy.exe for a local http server,  localhost port 2014

Thanks

[2019-06-29 18:57] chucklu commented on #31
Encounter the same error when try to analyze https://github.com/blueimp/jQuery-File-Upload/blob/master/js/jquery.fileupload.js
[code]

[2019-06-30 06:49] chucklu commented on #31
The same problem exists for https://github.com/blueimp/JavaScript-Load-Image/blob/master/js/load-image.js

[2019-06-30 11:31] Bogdan-Lyashenko commented on #37
No, that should work fine. You might ping @LucasBadico, author of the plugin

[2019-06-30 13:13] soloproc commented on #37
Thanks

[2019-06-30 22:49] soloproc commented on #37
I have the same situation,

[2019-06-30 22:49] #37 closed

[2019-07-11 17:03] iceytea opened #39 "Multi outputs support"
Hello there! The project is really cool~

I want to make an issue

When multiple returns are written in the code, you need to determine if the code can be executed.

like this:

[code]
There are two returns at the end of the code block. According to the actual situation, the last return will never be executed.

![image](https://user-images.githubusercontent.com/40764591/61070279-de8aa080-a440-11e9

[2019-07-12 08:07] Bogdan-Lyashenko commented on #39
Hi @iceytea, thanks for the reporting; you can use "custom modifiers" (see Readme, https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart#flow-tree-modifier, https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart#shapes-tree-editor) to do so (i.e. you need to define that rule when you use 'js-code-to-svg-flowchart') there is no native support right now. It's definitely doable, but unfo

[2019-07-25 17:09] KBPratap opened #40 "Error parsing react component"
When I tried to parse my first jsx, I got this error but I see no reference to `classProperties` in github documentation. Am I missing something?
[code]

[2019-07-25 17:14] KBPratap opened #41 "Add support for version query"
js2flowchart doesn't seem to support
```js2flowchart -v```
Is the version not published ?

[2019-07-25 17:32] KBPratap commented on #40
installed babel plugin and configured.
https://babeljs.io/docs/en/babel-plugin-proposal-class-properties
But the issue is not resolved

[2019-07-25 19:00] Bogdan-Lyashenko commented on #40
@KBPratap `classProperties ` plugin needed by `babel/parser` I use to build AST (https://babeljs.io/docs/en/babel-parser#plugins), I just added it and published new version. Please try js2flowchart@1.2.0, should be fine now. Thanks.

[2019-07-25 19:29] KBPratap commented on #40
[code]

[2019-07-25 19:46] Bogdan-Lyashenko commented on #40
Can you just try to run `npm i js2flowchart` instead

[2019-07-25 20:27] KBPratap commented on #40
finally am able to run it. Thanks for the quick update!

One more thing I noticed:
The install fails with node v10 version so downgraded to node v8 and it worked.

[2019-07-25 20:36] #40 closed

[2019-10-18 06:44] zhangenming opened #42 "did you konw this lib? https://github.com/pahen/madge"
this lib concentrate on file level , such as module
The two libraries work better together

[2019-10-18 06:49] zhangenming commented on #42
i mean
madge concentrate on file
and this concentrate on every line code
so, if there a thing concentrate on FUNCITON  will be better(between those)
just show the every function the relation between

[2019-10-18 06:57] #42 closed

[2019-10-18 07:17] zhangenming commented on #42
To my surprise
expectation Full CLI support and   Full UI support
thanks

[2020-01-02 15:07] wangmeijian opened #43 "The demo doesn't work"
https://bogdan-lyashenko.github.io/js-code-to-svg-flowchart/docs/live-editor/index.html
The demo doesn't work

[2020-01-03 09:41] Bogdan-Lyashenko commented on #43
Hi @wangmeijian, what exactly doesn't work? Do you see this when open that link?
![image](https://user-images.githubusercontent.com/2098309/71716581-9065c100-2e15-11ea-8d17-b84966508f46.png)
What browser do you use?

[2020-01-03 14:33] wangmeijian commented on #43
@Bogdan-Lyashenko chrome 79.0.3945.88

[2020-01-03 14:38] wangmeijian commented on #43
I use  chrome 79.0.3945.88, I see that,It's not that it can't run. After the demo was loaded, I waited for about 26 seconds before displaying the SVG on the right, which has poor generation performance. My laptop is MacBook Pro 13

[2020-01-03 17:57] smesko85 commented on #43
Can you try running in different browser? I've just tested the demo in two different browsers on my mobile phone (Motorola Moto X4), and it works without delay.
As my phone has less processing power than your laptop, I can only assume that your browser runs an extension that is causing the issue, or you are experiencing network issues.

[2020-01-05 07:59] wangmeijian commented on #43
@smesko85  After loading and rendering, I refresh the page, there's a cache, it still takes a long time to render, I guess it doesn't have much to do with the web, nor does firefox

[2020-01-05 12:02] Berkmann18 commented on #43
@wangmeijian I just tried opening the demo on Opera, Chrome, Brave, Firefox and Vivaldi (on a laptop) and it rendered nearly instantly (except on Opera and Chrome which has 1.5+ times the amount of extensions the others have).
So my guess is the same as @smesko85. Try opening the demo in incognito (or where few to no extensions are enabled) and in other browsers to see if it still happens.
If it d

[2020-01-06 13:43] wangmeijian commented on #43
Maybe. It's really slow to visit github in China

[2020-01-06 13:43] #43 closed

[2020-03-05 01:06] masterKPr opened #44 "无法区分类方法和实例方法,在函数名动态创建时候 显示undefined"
![image](https://user-images.githubusercontent.com/2238440/75937678-9e40cc80-5ec0-11ea-8bc7-69c63792ff3b.png)

[2020-03-27 00:41] Mirv opened #46 "Did NPM global install - can see it & it doesn't run"
I forked your codepen & got it to work - but integrating via the CLI locally on my machine to run or dropping your `js2flowchart.js` don't seem to work ... perhaps the readme & examples folder is out of date? (https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart#cli)

Have tried:

`npm run ...`
`npm js2flowchart ...`
`js2flowchart ...`
`npm run-script js2flowchart ...`

[code]

[2020-03-27 01:03] Mirv commented on #46
Disregard - there was some bug with global installing js2flowchart - the moment i installed locally it worked.

Thanks btw!  Very cool project!

[2020-03-27 01:03] #46 closed

[2020-03-28 15:46] TonTR opened #47 "javascript to flowchart, misses return loop"
Hi Bogdan.
Apologies if the following is a waste of time, but I may have found an issue with your otherwise excellent code to convert javascript to a flow chart. First let me say I am not a programmer, more of a power user that is trying to build a google apps script for  voluntary organisation. Everything worked fine except that the <<...if match == no....>>
 test at the bottom of the flowchart l

[2020-04-16 09:25] littleyan-xu opened #48 "“yarn global add js2flowchart” Error executing command"
The Error is:

[1/4] Resolving packages...
[2/4] Fetching packages...
error An unexpected error occurred: "C:\\Users\\...\\npm-@babel-parser-7.9.4-68a35e6b0319bbc014465be43828300113f2f2e8-integrity\\node_modules\\@babel\\parser\\.yarn-metadata.json: Unexpected token \u0000 in JSON at position 0".
info If you think this is a bug, please open a bug report with the information provided in "C:\\Users\

[2020-04-16 09:32] smesko85 commented on #48
@littleyan-xu I just tried it on my machine and it worked fine. What are your versions (node, yarn, etc)?

[2020-04-22 01:34] jcyh0120 opened #49 "Is typescript supported yet? seems to work"
I clone this repo and try to run on a typescript file and it works.
Could you tell what's lacking with typescript support?
Therefore, I could avoid using it with those unsupported cases.

Thanks for this awesome project. It's really a time saver.

[2020-04-22 07:21] Bogdan-Lyashenko commented on #49
Hi, thanks :)
Yeah, TypeScript kinda works, but it's basically stripped down to JavaScript, meaning, all type definitions simply ignored and code flow (condition blocks, etc) treated the same as it was JavaScript. For majority cases it all should look fine as far as `babel` transpiler, used under the hood to build AST, supports that TypeScript syntax.

[2020-05-28 01:02] a0m0rajab opened #50 "Syntax error"
I was working on a file and got weird error (which i could not read) on this line:

` for (let [j, element] of sub.entries()) {}`

when i have a similar syntax the tool is not working.

[2020-05-28 01:19] a0m0rajab opened #51 "Separate each function"
It would be great to have options for the CLI, like show each function separately on SVG file or even being able to read from an external config file for options.

[2020-05-28 10:19] Veeramuthur opened #52 "DO WHILE loop is not working"
Hi @Bogdan-Lyashenko

I have simple do while loop. i am trying to generate the chart,that chart i am not able see the 'do'.

function Recorder() {
var i = 1;
do
{
    i++;
  console.log(i);
}
while(i<=10);
  {

  }
}

Please help me solve this.
Thanks.

[2020-05-28 10:25] Berkmann18 commented on #51
Sounds like a good idea, I've had time to port all the JS features to the CLI (and won't for some time) so feel free to submit a PR.

[2020-05-28 17:33] Bogdan-Lyashenko commented on #52
![EBAA061F-166A-4711-94A4-47DE6A904B7B](https://user-images.githubusercontent.com/2098309/83173691-90929000-a119-11ea-94e8-55cc61e98a16.jpeg)

Hi, I think it’s a feature, not a bug :) it displays loop body correctly  - repeat until condition applies. How would you like “do” to be displayed on flow chart? Thanks.

[2020-05-28 17:35] Bogdan-Lyashenko commented on #50
Thanks for reporting; unfortunately don’t have time to have a look myself. Would you like to contribute? Thanks.

[2020-05-29 07:46] a0m0rajab commented on #50
it would be great for me, yet I have no idea about how to debug it or where to start though, would you give me some insights about that?

________________________________
From: Bohdan Liashenko <notifications@github.com>
Sent: 28 May 2020 20:36
To: Bogdan-Lyashenko/js-code-to-svg-flowchart <js-code-to-svg-flowchart@noreply.github.com>
Cc: Abdurrahman Rajab <rajab-2@windowslive.com>; Author <author

[2020-05-29 07:50] a0m0rajab commented on #51
It would be great, but I won't be able to work on that at these days unfortunately.
________________________________
From: Maximilian Berkmann <notifications@github.com>
Sent: 28 May 2020 13:25
To: Bogdan-Lyashenko/js-code-to-svg-flowchart <js-code-to-svg-flowchart@noreply.github.com>
Cc: Abdurrahman Rajab <rajab-2@windowslive.com>; Author <author@noreply.github.com>
Subject: Re: [Bogdan-Lyashenko

[2020-05-29 09:46] a0m0rajab opened #53 "Ternay operator"
Another bug at this one it does not show the flowchart properly.

let max = min + verseInPage >= dataArr.length ? dataArr.length : min + verseInPage;

![test js](https://user-images.githubusercontent.com/18273833/83246164-65a44c80-a1aa-11ea-995d-20459c0d60d3.png)

[2020-05-29 10:09] a0m0rajab opened #54 "init state - Foor loops"
At for loops its not showing the init state of the loop itself, yet it just shows the loop.

[code]
Like this part of code.

not every for loop start from ZERO.

[2020-05-29 10:57] a0m0rajab commented on #53
I think the error accrued since the result after the condition is the same as the condition second part  (dataArr.length)

since it works well if we added zero after the length like the code shown below

` let max = min + verseInPage >= dataArr.length ? dataArr.length +0  : min + verseInPage;
`

[2020-05-29 14:26] Berkmann18 commented on #51
That's understandable, I hope I'll continue working on the presentation feature (which was a WIP IIRC) when my workload alleviates.

[2020-05-30 06:54] a0m0rajab opened #55 "specific output"
instead of only having an SVG file as output it would be great to define a specific output like png or etc.

this feature can be added to CLI as well :)

[2020-05-30 11:06] Berkmann18 commented on #55
That would be a nice thing to have I think.

[2020-05-30 15:45] a0m0rajab commented on #55
I have written a small bash script for linux to do this job by using an external tool, I will share it later today, yet it would be great better if we entegrated it with the main tool.
________________________________
From: Maximilian Berkmann <notifications@github.com>
Sent: 30 May 2020 14:06
To: Bogdan-Lyashenko/js-code-to-svg-flowchart <js-code-to-svg-flowchart@noreply.github.com>
Cc: Abdurrahm

[2020-05-30 17:09] Veeramuthur commented on #52
Hi @Bogdan-Lyashenko

Thanks for quick update.whatever you give perfectly fine for while loop.Do while before checking the condition we have to show do statement.

![dowhile](https://user-images.githubusercontent.com/46166592/83334732-1b17f280-a2c6-11ea-8993-7bd7a7832de4.png)

[2020-07-29 09:38] #35 closed

[2020-11-30 13:50] navanshu opened #59 "Move to latest babel parser"
It is not working when there is optional chaining

[2021-01-18 13:18] lhttjdr commented on #52
DO-WHILE loop should be distinguished from WHILE loop. Hope this can be fixed in next version.

[2021-03-17 03:35] Veeramuthur commented on #52
@lhttjdr
Thanks for your update

[2021-05-20 08:08] nidhi-tib opened #63 "Show comments in Diagram"
I have a scenario where Iwant to show comments in the node's tooltip
Ex :

//This is add function
function add(a,b)

So the node for function should show its comments in tooltip .

[2022-11-12 01:37] gitmeto opened #74 "Internal Binding Error: this.input.charCodeAt is not a function"
Error at parseCodeToAST: this.input.charCodeAt is not a function
node:internal/process/esm_loader:108
    internalBinding('errors').triggerUncaughtException(
                              ^

TypeError: this.input.charCodeAt is not a function

<hr>

TypeError: this.input.charCodeAt is not a function
    at at.skipSpace (~\js2flowchart\dist\js2flowchart.js:1:214760)
    at at.nextToken (~\js2flowcha

[2022-11-14 15:38] jonnitto opened #75 "API for bigger boxes"
This is a similar issue to #16

We use this for documentation of what some people write in their tools (Similar to Google Tag Manager). Is there a way to allow bigger boxes? The code is always very simple, but the variable names are quite long…

[2022-11-14 17:03] Bogdan-Lyashenko commented on #75
Hey, i.e. you would like to change this limit https://github.com/Bogdan-Lyashenko/js-code-to-svg-flowchart/blob/d426751e3da98ae2e19e3962503aa47a0a47e91d/src/render/svg/appearance/TextContentConfigurator.js#L3 ?

[2022-11-15 09:22] jonnitto commented on #75
Yes, I think so. But I found no way to do this via API

[2022-11-15 09:33] Bogdan-Lyashenko commented on #75
Yeah, it’s not exposed via API indeed. I guess I could fix it (if you really need it, probably on this weekend)

[2022-11-15 12:59] jonnitto commented on #75
Wow, this would be awesome!

[2022-11-20 10:55] Bogdan-Lyashenko commented on #75
Hey @jonnitto, I just pushed the fix. So essentially that config is part of the `theme` now and to apply it you can do something like
[code]

[2022-11-22 14:37] jonnitto commented on #75
Works like a charm! Thank you very much!!

[2022-11-22 14:37] #75 closed